<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ app_domain }}
    ServerAlias www.{{ app_domain }}
    DocumentRoot /var/www/{{ app_domain }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ app_domain }}>
          Options -Indexes
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>