@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../assets/fonts/clash-display.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./component.css";

@layer components {
  .container {
    @apply mx-auto px-7 sm:px-16 md:w-[95vw] md:max-w-[95vw] lg:px-10 2xl:max-w-container;
  }

  .animate-button-icon:hover > .icon,
  .animate-button-icon:focus > .icon,
  .animate-button-icon:active > .icon {
    @apply translate-x-1 !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "ClashDisplay-Variable", sans-serif;
}

.img-hero {
  background-image: linear-gradient(
      rgba(13, 14, 19, 0.8),
      rgba(13, 14, 19, 0.8)
    ),
    url(../assets/images/Union.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 0.3s;
}

.card-image .overlay-s {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 0.3s;
}

.card-image:hover .overlay {
  opacity: 1;
}
.card-image:hover .overlay-s {
  opacity: 1;
}

.card-image:img {
  filter: blur(0);
  transition: filter 0.3s;
}

.card-image:hover img {
  filter: blur(2px);
}

.carousels-container {
  display: flex;
  overflow: hidden;
}

.carousels-items {
  width: fit-content;
  display: flex;
  gap: 6px;
  transition: transform 0.3s ease-in-out;
  /* transform: translateX(-${activeIndex * 100}%); */
}

/* .carousels-item {
  flex: 0 0 auto;
  min-width: 100%;
} */

/* Animasi pergeseran item saat tombol "Next" atau "Previous" ditekan */
/* .active .next {
  transform: translateX(-50%);
}

.active .prev {
  transform: translateX(100%);
} */

.bg-products-creatif-hero {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40.63%,
      rgba(209, 235, 255, 0.54) 100%
    ),
    url(/images/products-creatif-hero-background.svg) left bottom no-repeat,
    url(/images/products-creatif-hero-background.svg) right bottom no-repeat;
}

@media screen and (max-width: 800px) {
  .bg-products-creatif-hero {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40.63%,
      rgba(209, 235, 255, 0.54) 100%
    );
  }
}
